<h1><%= @task.title %></h1>
<p><%= @task.description %></p>

<ul>
  <li><%= link_to "Edit task", edit_task_path(@task) %></li>
  <li><%= link_to "Delete task", task_path(@task), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Task list", tasks_path %></li>
</ul>
